header{
  position: relative;
}
.hero-content.about-us{
  min-height: 55vh;
}
.hero-text-about-us{
  min-width: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: var(--fs-lg);
}

.wave {
  background: url(../Images/wave.png);
  background-size: 1000px 50px;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 50px;
  animation:wave 3s linear infinite;
}
@keyframes wave {
  0%{
    background-position-x: 0;
  }
  100%{
    background-position-x: 1000px;
  }
}





































