:root{
  --fs-2xl:4.5rem;
  --fs-xl:4rem;
  --fs-lg:3.5rem;
  --fs-md:2.5rem;
  --fs-sm:2rem;
  --fs-xs:1.5rem;
}

.catalogue__categories{
  width: 100%;
  display: grid;
  justify-content: center;
  gap:var(--fs-2xl);
  grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
  
}
.catalogue__card {
  display: flex;
  opacity:0.4;
  flex-direction: column;
  background: var(--bg-main);
  color: var(--text-main);
}
.catalogue__card:hover{
  opacity:1;
  transition:1s;
}
.catalogue__card:hover .call-to-action{
  background: var(--item-accent);
  color: var(--item-gold) ;
  letter-spacing: 0.2em; 
  box-shadow: 0 0 35px var(--item-accent);
}
.call-to-action{
  display: flex;
  align-items: center;
  justify-content: center;
}
.catalogue img {
  width: 100%;
  height: 220px; 
  object-fit: cover;
}