/* :root{
  --fs-2xl:4.5rem;
  --fs-xl:4rem;
  --fs-lg:3.5rem;
  --fs-md:2.5rem;
  --fs-sm:2rem;
  --fs-xs:1.5rem;
} */

.catalogue__categories{
  width: 100%;
  margin: 0 auto;
  display: grid;
  justify-content: center;
  grid-gap: var(--fs-sm); 
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  box-sizing: border-box;
}

.catalogue__card {
  display: flex;
  flex-direction: column;
  background: var(--bg-main);
  color: var(--text-main);
  gap:var(--fs-xs);
  height: 35rem;
  font-size: var(--fs-xs);
}

.call-to-action:hover{
  background: var(--item-accent);
  color: var(--item-gold) ;
  letter-spacing: 0.2em; 
  box-shadow: 0 0 35px var(--item-accent);
}
.call-to-action{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: auto; 
  flex: 1;
}
.catalogue img {
  width: 100%;
  height: 200px;
}
a{
  margin-top: auto;
}