:root{
  --fs-2xl:4.5rem;
  --fs-xl:4rem;
  --fs-lg:3.5rem;
  --fs-md:2.5rem;
  --fs-sm:2rem;
  --fs-xs:1.5rem;
}

.catalogue__categories{
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  justify-content: center;
  align-items: stretch; 
  gap: var(--fs-sm); 
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  box-sizing: border-box;
}

.catalogue__card {
  display: flex;
  flex-direction: column;
  height: 100%; 
  background: var(--bg-main);
  color: var(--text-main);
  gap:var(--fs-xs);
  box-sizing: border-box;
}
span.card-content-container {
    font-size: var(--fs-xs);
    display: flex;
    flex-direction: column;
    gap: var(--fs-xs);
    flex: 1 1 auto; 
}

.catalogue__card:hover .call-to-action{
  background: var(--item-accent);
  color: var(--item-gold) ;
  letter-spacing: 0.2em; 
  box-shadow: 0 0 35px var(--item-accent);
}
.call-to-action{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: auto; 
}
.catalogue img {
  width: 100%;
  height: 200px;
  
}