.call-to-action{
  position: relative;
  background:#ff1867;
  color: white;
  text-transform: uppercase;
  letter-spacing:0.1em;
  font-weight: 400;
  padding: 10px 30px;
  text-align: center;
  transition: 0.5s;
  border-radius: 10px;
}
.call-to-action:hover 
{
  background: var(--clr);
  color: var(--clr) ;
  letter-spacing: 0.2em; 
  box-shadow: 0 0 35px var(--clr);
}

.call-to-action:before{
  content:"";
  position: absolute;
  inset:2px;
  background:#ff1867;
  border-radius: 10px;
}
.call-to-action span {
  position: relative;
  z-index: 1;
}
.call-to-action i {
  position: absolute;
  inset:0;
  display: block;
} 
.call-to-action i::before {
  content: '';
  position: absolute;
  top:0;
  left: 80%;
  width:10px;
  height:4px;
  background: #ff1867;
  transform: translateX(50%)skewX(325deg);
  transition: 0.5s;


}
.call-to-action:hover i::before{
  width: 20px;
  left:20%;
}
.call-to-action i::after {
  content: '';
  position: absolute;
  bottom:0;
  left: 20%;
  width:10px;
  height:4px;
  background:#ff1867;
  transform: translateX(50%)skewX(325deg);
  transition: 0.5s;


}
.call-to-action:hover i::after{
  width: 20px;
  left:80%;
}