.call-to-action-smaller{
  text-align: center;
  position: absolute;
  background: var(--item-accent);
  color: var(--text-main);
  text-transform: uppercase;
  font-size: 1em;
  letter-spacing:0.1em;
  font-weight: 400;
  padding: 10px 30px;
  transition: 0.5s;
  width: 85%;
  bottom:0.5rem;
}
.call-to-action-smaller:hover 
{
  background:var(--text-main);
  color: var(--text-main);
  letter-spacing: 0.2em; 
  box-shadow: 0 0 35px var(--text-main);
}

.call-to-action-smaller:before{
  content:"";
  position: absolute;
  inset:2px;
  background: var(--bg-secondary);
}
.call-to-action-smaller span {
  position: relative;
  z-index: 1;
}
.call-to-action-smaller i {
  position: absolute;
  inset:0;
  display: block;
} 
.call-to-action-smaller i::before {
  content: '';
  position: absolute;
  top:0;
  left: 80%;
  width:10px;
  height:4px;
  background: var(--item-accent);
  transform: translateX(50%)skewX(325deg);
  transition: 0.5s;
}
.call-to-action-smaller:hover i::before{
  width: 20px;
  left:20%;
}
.call-to-action-smaller i::after {
  content: '';
  position: absolute;
  bottom:0;
  left: 20%;
  width:10px;
  height:4px;
  background: var(--item-accent);
  transform: translateX(50%)skewX(325deg);
  transition: 0.5s;
}
.call-to-action-smaller:hover i::after{
  width: 20px;
  left:80%;
}