html , body{
  font-size: 62.5%;
  overflow-x: hidden;
}

/* Black Version */
 /* :root{
  
  --bg-main: #121212;          
  --bg-accent: #8B0000;         
  --bg-secondary: #1e1e1e;    
  --bg-section: #fdf6e3;      

  
  --item-accent: #b22222;       
  --item-gold: #d4af37;         

  
  --text-main: #f5f5f5;         
  --text-inverse: #0a0a0a;     
  --text-muted: #c0c0c0;       

  --fs-2xl:4.5rem;
  --fs-xl:4rem;
  --fs-lg:3.5rem;
  --fs-md:2.5rem;
  --fs-sm:2rem;
  --fs-xs:1.5rem;
}  */

/* Red Version */
  /* :root {
  --bg-main: #1a0000;          
  --bg-accent: #330000;        
  --bg-secondary: #2e0f0f;      
  --bg-section: #f4efe6;       

  --item-accent: #a60000;       
  --item-gold: #cba135;        
  
  --text-main: #f8f8f8;       
  --text-inverse: #1a1a1a;    
  --text-muted: #b8b8b8;       

  --fs-2xl: 4.5rem;
  --fs-xl: 4rem;
  --fs-lg: 3.5rem;
  --fs-md: 2.5rem;
  --fs-sm: 2rem;
  --fs-xs: 1.5rem;
}   */
 :root {
  --bg-main: #5c1a1a;
  --bg-accent: #3d0f10;
  --bg-secondary: #752626;
  --bg-section: #f7f1e3;

  --item-accent: #800020;
  --item-gold: #caa969;

  --text-main: #f8f8f8;
  --text-inverse: #130909;
  --text-muted: #bba9a9;


  --fs-padding:15rem;
  --fs-2xl: 4.5rem;
  --fs-xl: 4rem;
  --fs-lg: 3.5rem;
  --fs-md: 2.5rem;
  --fs-sm: 2rem;
  --fs-xs: 1.5rem;
}  

/* White Version  */

/* :root {
  --bg-main: #fdfaf7;
  --bg-accent: #5c1a1a;
  --bg-secondary: #f1ece7;
  --bg-section: #fffdf9;

  --item-accent: #800020;
  --item-gold: #bfa76f;

  --text-main: #1e1e1e;
  --text-inverse: black;
  --text-muted: #7a6d6d;

  --fs-2xl: 4.5rem;
  --fs-xl: 4rem;
  --fs-lg: 3.5rem;
  --fs-md: 2.5rem;
  --fs-sm: 2rem;
  --fs-xs: 1.5rem;
} */





*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Montserrat, sans-serif;
  /* outline: 1px solid red; */
}
body{
  background-color: var(--bg-accent);
}

 img,.face{
  border-radius: 2rem;
}
.face {
  width:100%;
  max-width: 100%;
  height: auto;
  display: block;
}
img , iframe{
  max-width:100%;
  height: auto;
}
header {
  position: relative;
  flex-direction: column;
  color: var(--text-main);
  background-color: var(--bg-main);
}
.logo{
  width: 15%;
}
nav{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  overflow-x: hidden;
  color:var(--text-main);
 
}
.nav-desktop{
  z-index: 0;
  flex-shrink: 0;
  flex-wrap: nowrap;
  justify-content: space-between;
}
.nav-mobile{
  display: none;
  min-height: 100vh;
  flex-direction: column;
  gap: var(--fs-lg);
  padding: 5.5rem;
}
.nav-mobile ul{
  flex-direction: column;
  align-items: center;
}
.nav-mobile li{
  font-size: var(--fs-md);
}
i.fa-solid.fa-x {
  right: 4rem;
  position: absolute;
  font-size: var(--fs-md);
}
ul{
  display: flex;
  gap:var(--fs-xl);
}
li{
  display: flex;
  list-style: none;
  font-size: var(--fs-sm);
}
.fa-x:hover,.fa-bars:hover,.desktop-links li:hover, .mobile-links li:hover{
  text-shadow: 0 0 20px white;
  transition: 0.3s ;
}
a{ 
  text-decoration: none;
  color: inherit;
}
#search-icon{
  padding-top: 0.5em;
  display:none;

}
.hero-content{
  justify-content: space-between; 
  padding: 0rem;
}
.hero-text {
  display: flex;
  flex-direction: column;
  gap: var(--fs-sm);
  width: 45%;
}
.hero-headline{
  font-size: var(--fs-2xl);
}
.sub-hero-headline{
  font-size: var(--fs-sm);
}
.call-to-action{
  font-size: var(--fs-xs);
}
.desktop-image {
  width:50%;
}
.mobile-image{
  display: none;
  /* background-image: url('../Images/istockphoto-1367978020-1024x1024-transformed.jpeg'); */
}

main{
  background-color: var(--bg-section);
}
header,section,footer {
  width:100%;
  display: flex;  
  align-items: center;
  padding:3rem 9rem 9em;
  gap:var(--fs-2xl);
  
}
main section, header section.catalogue{
   flex-direction: column; 
}
section.two{
  flex-direction: row;
}
article{
  display: flex;
  width:100%;
}
article.information-text{
  flex-direction: column ;
  gap: var(--fs-xs);
}
article.information-text span {
  display: flex;
  flex-direction: column;
  gap: var(--fs-xs);
}
.information-text h1,.information-text h2{
  color: var(--item-gold);
}

.information-text h2 {
  font-size: var(--fs-lg);
}
.main-pain-point h1{
  font-size: var(--fs-2xl);
}
.information-text p{
  font-size: var(--fs-md);
  color: var(--text--main);
}

.section-headline{
  font-size: var(--fs-2xl);
  color: var(--item-gold);
}
.two-content {
  display: flex;
  font-size: var(--fs-250);
  gap:var(--fs-400);

}
.personalize-image{
  width: 50%;
  display: flex;
}
.sub-header{
  font-size: var(--fs-400);
  color: white;
}
 .text-information{
  width:50%;
  gap: 2em;

} 

section.three , .features{
  background-color: var(--bg-secondary);
}
.part-content{
  display: flex;
  justify-content: center;
  flex-grow: 1;
  gap: var(--fs-2xl);
  flex-direction: column;
}

.testimony {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap:var(--fs-sm);
}
img.testimony-client-photo{
  border-radius:50%;
  width: 15%;
}
.text-testimony{
  font-size: var(--fs-md);
}
.statistic{
  display: flex;
  font-size: var(--fs-sm);
  justify-content: space-between;
  width: 100%;
}
.statistic-group-mobile{
  display: none;
}
.sub-statistic{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--fs-sm);
}
.sub-static-icon{
  font-size: var(--fs-xl);
}

.index-features-carousel__content .features-carousel {
  background-color: var(--bg-secondary);
}
.features-carousel__content {
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: 0rem;
  background-color: var(--bg-main);
  border-top-left-radius: 10px;
  border-bottom-left-radius: 50px;
  color: var(--text-main);
}
.features-carousel__content.mobile {
  display: none;
}
.features-carousel__content span {
  padding: var(--fs-sm);
}
.part-five-image-container {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 50px;
  width: 40%;
  background-image: url("../Images/Home/Features.jpg");
  background-position-x: center;
  background-position-y: center;
  background-size: cover;
}
.carousel{
  display: flex;
  flex-direction: column;
  position: relative;
  width:50%;
  background-color: var(--bg-main);
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  align-items: center;
}
.carousel ul{
  width: 100%;
  position: relative;

}
.slide{
  position: absolute;
  opacity: 0;
  transition: 200ms opacity ease-in-out;
  justify-content: center;
}
.features .carousel .slide{
    inset: 0;
}
.slide > span{
  display: flex;
  flex-direction: column;
  gap: var(--fs-xl);
  width:100%;
  height: 100%;

}
.slide > span >h3{
  display: flex;
  justify-content: center;
}
.slide >span> ol{
  display: flex;
  flex-direction: column;
  gap: var(--fs-sm);
}
.slide{
  z-index: -999;
}
.slide[data-active]{
  opacity:1;
  z-index: 0;
}
.button{
  position: absolute;
  background: none;
  border: none;
  font-size: var(--fs-md);
  color: rgba(255, 255, 255, .5);
  background-color: rgba(0, 0, 0, .1);
  top: 50%;
  transform: translateY(-50%);
  padding: 0.5rem;
  cursor: pointer;
  z-index: 1;
}
.button:hover,
.button:focus{
  color:white;
  background-color: rgba(0, 0, 0, .2);
}
.button:focus{
  outline:1px solid black
}
.button.preview{
  left: 1rem;
}
.button.next{
  right: 1rem;

}
.card-icon{
  position: absolute;
  transform: translateY(-50%);
  font-size: var(--fs-sm);
  top:95%;
}
.card-icon i[data-white]{
  color: var(--item-gold);
}
.our-physical-store {
  background-color: var(--bg-secondary);
  background-blend-mode: multiply;
  background-position-x: center;
  background-size: cover;
  color: var(--text-main);
}
.our-physical-store ul{
  display: flex;
  flex-direction: column;
}
.our-physical-store span {
  align-items: center;
}

section.six{
  min-height: auto;
}
.FAQS > article > ul > li {
  width:100%;
}
.FAQS .part-content{
  justify-content: start;
  width: 100%;
}
.ask-questions{
  display: flex;
  flex-direction: column;
  gap: var(--fs-md);
}
.ask-questions li[data-active] .answer{
  z-index: 1;
  opacity: 1;
  transition: 200ms opacity ;
  position: static;

}
.ask-questions li[data-active] i[data-drop-down-icon]{
  color: red;
} 
.drop-down-container{
  display: flex;
  color:var(--text-main);
  font-size: var(--fs-md);
  position: relative;
  width: 100%;
}
span.icon-container{
  display: flex;
  justify-content: center;
  width: 6rem;
  height: 6rem;
  align-items: center;
}
.drop-down{
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
}
.drop-down-list{
  width: 100%;
}
.question{
  display: flex;
  height: 6rem;
  align-items: center;
}
.answer{
  z-index:-999;
  position: absolute;
  opacity: 0;
  color:var(--text-muted);
}

footer { 
  background-color: var(--bg-main);
  color: var(--text-main);
  flex-direction: column;
}
.footer-content {
  display: flex;
  width:100%;
  font-size: var(--fs-sm);
  align-items: center;
  gap: var(--fs-xs);
}
.footer-presentation{
  display: flex;
  flex-direction: column;
  width: 30%;
  gap: 1rem;
  padding: 0rem;
}
.footer-logo {
  width:100%;
}
#slogan {
  text-align: center;
  font-size: var(--fs-250);
}
#mission{
  font-size: var(--fs-250);
  text-align: center;
}
footer div section.footer-nav{
  display: flex;
  flex-direction: column;
  padding: 0rem;
  width: 100%;
  gap: var(--fs-md);
 
}
.footer-links{
  display: flex;
  width:100%;
  justify-content: space-around;
  padding-top: var(--fs-2xl);
 

}
span.footer-links-column{
  display: flex;
  flex-direction: column;
  font-size: var(--fs-md);
  gap: var(--fs-xs);
}
 .footer-nav span ul{
  display: flex;
  flex-direction: column;
  gap:var(--fs-md);
}
.footer-links-column span {
  display: flex;
  flex-direction: row;
}
.footer-links-column li {
  opacity: 0.3;
  font-size: var(--fs-md);
  display: flex;
  gap: var(--fs-xs);
  color: var(--text-main);
}
.footer-links-column li:hover{
  opacity: 1;
  transition: 0.5s;
  color: var(--item-gold);
}
.footer-links-column i{
  font-size: var(--fs-md);
  opacity:0.3;
  color: var(--item-gold);
}
.contacts{
  display: flex;
  justify-content: space-around;
  width: 100%;
}
.contacts span{
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.contacts .adress span, .contacts .phone span,.footer-nav span ul li a{
  display: flex;
  flex-direction: row;
  gap: 1rem;
}
.contacts  i {
  font-size: var(--fs-400);
  color: var(--item-gold);
}
.contacts  i:hover{
}
.contacts span p {
  display: flex;
  font-size: var(--fs-250);
} 
.perfumas-rights{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 100%;
}
.divider-line{
  background-color: var(--item-gold);
  height: 1px;
  width: 100%;
}
.rights{
  background-color: var(--bg-main);
  color: var(--item-gold);
  padding: 2rem;
  font-size: var(--fs-sm);
}
.rights::before{
  color: var(--item-gold);
  content:"©";
  font-size: var(--fs-200);

}









