html{
  font-size: 62.5%;
}

:root{
  --fs-400:4rem;
  --fs-300:3rem;
  --fs-250:2.5rem;
  --fs-200:2rem;
  
}


*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Montserrat, sans-serif;

}
body{
  width: 100%;
  background-color: black;
}
.container{
  /* border:5px solid black; */
  padding: 0 var(--fs-400);
}

.hero {
  display: flex;
  text-align: center;
  flex-direction: column;
  flex-grow: 1;
  min-height: 100vh;
  min-height: 100svh;
  color: white;
  background-color:gray;
  background-image:url("../Images/Heroimage-transformed.jpeg");
  background-position-x: 46%;
  background-size: cover;
  background-blend-mode:multiply;
}
.links{
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;

}
.logo-container {
  background-blend-mode: multiply;
}

.logo{
  width: 15%;
}

nav{
  flex-shrink: 0;

}

ul{
  display: flex;
  gap:var(--fs-200);
}

li{
  display: flex;
  list-style: none;
  font-size: var(--fs-250);
}
a{ 
  text-decoration: none;
  color: inherit;
}
#search-icon{
  padding-top: 0.5em;
}
#cost{
 color: white;

}
.hero-text {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
  gap: var(--fs-200);

}
#sell-phase{
  font-size: var(--fs-400);
  display: flex;
  align-items: center;
  text-align: center;
  font-weight: bold;  
}
#sub-sell-phase {
  display: flex;
  flex-direction: column;
  font-size: var(--fs-250);
}
.content{
  background-color: #9b3228;
}
.part {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: var(--fs-200) var(--fs-300) var(--fs-400);
  gap: var(--fs-300);
}
.text-information-header {
  display: flex;
  font-size: var(--fs-300);
  color: white;
  font-weight: 900;
  justify-content: center;
  text-align: center;
 
}
.two-content {
  display: flex;
  flex-wrap: wrap;
  color: white;
  font-size: var(--fs-300);
  gap:var(--fs-300);

}
.personalize-image{
  width: 72%;
}

 .text-information{
  width:25%;
  color: white;
  gap: 2em;

} 


.part.three {
  background-color: #5f1b17;
}



.footer { 
  background-color: black;
  color: white;
  flex-direction: row;
}
.footer .section.one{
  display: flex;
  flex-direction: column;
  width: 20%;
  gap: 1rem;
}

#footer-logo {
  width:100%;
}
#slogan {
  text-align: center;
  font-size: var(--fs-250);
}
#mission{
  font-size: var(--fs-250);
  text-align: center;
}
.section.two{
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: var(--fs-400);
  padding-top:3rem;
}
.footer-links{
  display: flex;
  justify-content: space-around;
  
}
.footer-links-colums,.footer-links span ul{
  display: flex;
  flex-direction: column;
}

.footer-links h3{
  font-size: var(--fs-300);

}
.footer-links li {
  font-size:var(--fs-250) ;
}
.footer-links li{
  opacity: 0.3;
}
.footer-links li:hover{
  opacity: 1;
  transition: 0.5s;

}
.footer-links span{
  gap: 1rem;
}
.footer-links i{
  font-size: 2rem;
  opacity:0.3;
}
.social-media{
  display: flex;
}
.social-media p {
  font-size: var(--fs-250);
  opacity: 0.3;
}
.social-media:hover i,.social-media:hover p{
  opacity:1;
  transition: 0.5s;

}
.contacts{
  display: flex;
  justify-content: space-around;
}
.contacts span{
  display: flex;
  gap: 1rem;
}
.contacts  i {
  font-size: var(--fs-400);

}
.contacts  i:hover{
  color:
}
.contacts span p {
  display: flex;
  font-size: var(--fs-250);
}
.perfumas-rights{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 80%;
}
.divider-line{
  background-color: white;
  height: 1px;
  width: 100%;
}

.rights{
  background-color: black;
  color: white;
  padding: 2rem;
  font-size: var(--fs-200);
}
.rights::after{
  color: white;
  content:"©";
  font-size: var(--fs-200);
}








