html{
  font-size: 62.5%;
}

:root{
  --fs-650:6.5rem;
  --fs-400:4rem;
  --fs-300:3rem;
  --fs-250:2.5rem;
  --fs-200:2rem;
  
}


*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Montserrat, sans-serif;

}
body{
  width: 100%;
}
.container{
  /* border:5px solid black; */
  padding: 0 var(--fs-400);
}

.Hero {
  display: flex;
  text-align: center;
  flex-direction: column;
  flex-grow: 1;
  min-height: 100vh;
  min-height: 100svh;
  color: white;
  background-color:gray;
  background-image:url("../Images/Heroimage-transformed.jpeg");
  background-position-x: 46%;
  background-size: cover;
  background-blend-mode:multiply;
}
.links{
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;

}
.logo-container {
  background-blend-mode: multiply;
}

.logo{
  width: 15%;
}

nav{
  flex-shrink: 0;

}

ul{
  display: flex;
  gap:var(--fs-200);
}

li{
  display: flex;
  list-style: none;
  font-size: var(--fs-250);
}
a{
  text-decoration: none;
  color: inherit;
}
#search-icon{
  padding-top: 0.5em;
}
#cost{
 color: white;

}
.hero-text {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
  gap: var(--fs-200);

}
#sell-phase{
  font-size: var(--fs-400);
  display: flex;
  align-items: center;
  text-align: center;
  font-weight: bold;  
}
#sub-sell-phase {
  display: flex;
  flex-direction: column;
  font-size: var(--fs-250);
}
.content{
  background-color: #9b3228;
}
.part {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: var(--fs-200) var(--fs-300) var(--fs-400);
  gap: var(--fs-300);
}
.text-information-header {
  display: flex;
  font-size: var(--fs-300);
  color: white;
  font-weight: 900;
  justify-content: center;
 
}
.two-content {
  display: flex;
  flex-wrap: wrap;
  color: white;
  font-size: var(--fs-300);
  gap:var(--fs-300);

}
.personalize-image{
  width: 72%;
}

 .text-information{
  width:25%;
  color: white;
  gap: 2em;

} 


.part.three {
  background-color: #5f1b17;
}



.footer {
  height:50vh;
  height: 50svh;
  background-color: black;
}
.footer-logo-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 20%;


}
#footer-logo {
  width:100%;
}
#slogan {
  color: white;
}