

/* STAN/DART:1410 */
/* 2x1 2 */
@media (max-width:2560px) {
  :root{
    --fs-2xl:9rem;
    --fs-xl:8rem;
    --fs-lg:7rem;
    --fs-md:5rem;
    --fs-sm:4rem;
    --fs-xs:3rem;
  }
    
    i.fa-solid.fa-bars {
      display: none;
    }
    .cards-container{
      gap: var(--fs-2xl);
      flex-wrap: wrap;
    }
    .fa-2xl {
      font-size: 15rem;
      top: 15rem;
    }
    .card .face {
      height: 60rem;
      width:90rem;
    }
    .card .face1 {
      background-color: #ff1867;
      transform: translateY(0);
      box-shadow: none;
      height:35rem;
  
    }
    .card .face1 .card-inside-content h3 {
      display: none;
    }
    .card .face2 {
      transform: translateY(0);
    }
    .card .face2 .card-inside-content {
      display: flex;
      flex-direction: column;
      gap: 2rem;
  }
    .card .face2 .card-inside-content .fantom-h3{
      display: inline;
      font-size: var(--fs-md);

    }
   
    .card .face2 .card-inside-content p {
      font-size:var(--fs-md);
  
    }
    .call-to-action-smaller {
      font-size: 4.5rem;
      width: 95%;
    }
    section.five .part-content{
      min-height: 95rem;
    }
  
  }
  /*x1 1,5 */
@media (max-width:2095px) {
    :root{
      --fs-2xl:7rem;
      --fs-xl:6rem;
      --fs-lg:5rem;
      --fs-md:4rem;
      --fs-sm:3rem;
      --fs-xs:2rem;
    }
    nav ul {
      gap: var(--fs-lg);
    }    
    .fa-2xl {
      font-size: 10rem;
    }
    .card .face {
      height: 50rem;
      width:70rem;
    } 
     .card .face1{
      height: 30rem;
    }
    .call-to-action-smaller {
      font-size: 3rem;
    }
    section.five .part-content{
      min-height: 65rem;
    }
  
} 

/* 2lg xl 1 */
@media (max-width:1670px) {
  
    :root{
      --fs-2xl:4.5rem;
      --fs-xl:4rem;
      --fs-lg:3.5rem;
      --fs-md:2.5rem;
      --fs-sm:2rem;
      --fs-xs:1.5rem;
    
      
    }
    .cards-container {
      gap: var(--fs-md);
      flex-wrap: nowrap;
    }
    .fa-2xl{
      position: static;
      font-size: 8rem;
    }
    .card .face {
      width:282px;
      height:250px;
    }

    .card .face1 {
      background-color:#27282c;
      transform: translateY(50%);
      box-shadow: 0px 10px 10px #27282c;
      height: none;
  
    }
    .card .face2 .card-inside-content .fantom-h3{
      display: none;
    }
    .card .face1 .card-inside-content h3 {
      display: inline;
      position: relative;
      top: var(--fs-sm);
      opacity: 0.02;
      color: white;
      font-size: var(--fs-md);
    }
    .card .face2 {
      transform: translateY(-50%);
    }
    .card .face2 .card-inside-content p {
      font-size: var(--fs-sm);
  
    }
    .call-to-action-smaller {
      font-size:1em;
      width: 85%;
    }
    section.five .part-content{
      min-height: 0rem;
    }
    
}
/* lg 0,7*/
 @media (max-width:1250px) {
  :root{
    --fs-2xl:3.5rem;
    --fs-xl:3rem;
    --fs-lg:2.5rem;
    --fs-md:2rem;
    --fs-sm:1.5rem;
    --fs-xs:1rem;
  
    
  }
    .card .face {
      height: 21rem;
      width: 22rem;
    }
    .card .face1 .card-inside-content h3 {
      font-size:var(--fs-lg);
      top: 30px;
    }
    

   

  
} 
/* 2md */
@media (max-width:){
  :root{
    --fs-2xl:3rem;
    --fs-xl:2.5rem;
    --fs-lg:2rem;
    --fs-md:1.5rem;
    --fs-sm:1rem;
    --fs-xs:0.5rem;
  
    
  }
  .hero-text{
    width: ;
  }
    .cards-container{
      gap: var(--fs-400);
    }
    .fa-2xl {
      font-size: 5rem;
    }
    .card .face {
      height: 20rem;
      width:20rem;
    }
    .card .face1 .card-inside-content h3 {
      font-size: 2rem;
    }
    .card .face2 .card-inside-content p {
      font-size:1.53rem;
  
    }
    .call-to-action-smaller {
      font-size: 0.956rem;
    }
  }
  /* md */
@media (max-width:px){
  :root {
    --fs-400: 3rem;
    --fs-300: 2rem;
    --fs-250: 1.5rem;
    --fs-200: 1rem;
    }
    .personalize-image{
      width: 100%;
    }
    .text-information {
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 0.5rem;
      width: 100%;
    }
    .fa-2xl {
      font-size: 5rem;
    }
    .card .face {
      height: 25rem;
      width:30rem;
    }
    .card .face1 {
      background-color: #ff1867;
      transform: translateY(0);
      box-shadow: none;
      height:10rem;
  
    }
    .card .face2 .card-inside-content .fantom-h3{
      display: inline;
      font-size: 2rem;

    }
    .card .face1 .card-inside-content h3 {
      display: none;
    }
    .card .face2 {
      transform: translateY(0);
    }
    .card .face2 .card-inside-content p {
      font-size:2rem;  
    }
    .call-to-action-smaller {
      font-size: 1.5rem;
    }
    
   
    
}
/* 2sm */
@media(max-width:950px){

  
  section,header{
    padding: 3rem ;
    min-height: auto;
  }
  header{
    flex-direction: column;
    min-height:auto;
  }
  nav{
    width: 100%;
  }
  .logo{
    width:12rem ;
  }
  nav.navigation-bar{
    display: none;
  }
  i.fa-solid.fa-bars {
    display: inline;
    font-size:2rem;
  }
  .hero-content{
    flex-direction: column;
    text-align: center;
    gap: var(--fs-md);
    align-items: center;
    
  }
  .hero-text{
    width: 100%;
  }
  .sub-sell-phrase{
    font-size: var(--fs-md);
  }

  .call-to-action{
    width:100%;
  }
  .hero-image-desktop {
    display: none;
  }
  .hero-image-mobile{
    display: inline;
    width:100%;
  }
  .call-to-action{
    font-size: var(--fs-md);
  }
  .information img {
    display: none;
  }
  .information-text .main-pain-point {
    display: flex;
    align-items: center;
    gap: var(--fs-md);
  }
  .information span img{
    display: inline;
    width: 100%;

  }
  .cards-container{
    gap: var(--fs-2xl);
    flex-wrap: wrap;
  }
  .card .face {
    height: 30rem;
    width:35rem;
    border-radius: 1rem;
  }
  .card .face1 {
    background-color: #ff1867;
    transform: translateY(0);
    box-shadow: none;
    height:17rem;

  }
  .card .face1 .card-inside-content h3 {
    display: none;
  }
  .card .face2 {
    transform: translateY(0);
  }
  .card .face2 .card-inside-content {
    display: flex;
    flex-direction: column;
}
  .card .face2 .card-inside-content .fantom-h3{
    display: inline;

  }
 
  .card .face2 .card-inside-content p {
    font-size:var(--fs-md);

  }
  .call-to-action-smaller {
    font-size: 1.5rem;
    width: 88%;
  }
  .part-five-image-container{
    width: 100%;
    border-bottom-left-radius: 0px;
    border-top-left-radius: 114px;
    border-bottom-left-radius: 0px;
    min-height: 30rem;
  }
  section.five .part-content{
    display: flex;
    flex-direction: column;
    justify-content: start;
    border-top-left-radius: 116px;
    border-bottom-left-radius: 58px;
    border-bottom-right-radius: 101px;
  }
  .button{
    font-size: var(--fs-lg);
  }
  .part-content  .carousel{
    width:100%;
    min-height: 45rem;
  }
  .part-content .carousel{
    width:100%;
    min-height: 50rem;
  }
  .part-content .carousel .slide span{
    display: flex;
    align-items: center;
    width: 60%;
  }
  .slide li{
    font-size:var(--fs-lg);
  }
  .slide > span >h3{
    font-size: var(--fs-lg);
  }
  .our-physical-store{
    border-bottom-right-radius:114px ;
  }
  .our-physical-store ul {
    align-items: center;
    min-height: 30rem;
  }
  .our-physical-store li {
    font-size: var(--fs-md);
  }

  






  
  .footer{
    flex-direction: column;
  }
  .footer-content{
    flex-direction: column;
  }
  .footer .section.one{
    width: 100%;
    align-items: center;
  }
  img.footer-logo{
    width:50%;
  }
  .mission {
    text-align:center;
  }

  .footer-links{
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 1rem;

  }
  .footer-links-colums, .footer-links span ul{
    align-items: center;
  }
  .contacts{
    flex-direction: column;
    gap: 1rem;
  }
  .contacts span {
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    font-weight: 700;
  }
  .contacts i{
    font-size: var(--fs-300);
  }
 





}
@media(max-width:810px){
  
  .card{
    width: 75%;
  }
  .card .face{
    width: 100%;
  }
  .call-to-action-smaller{
    width:92%;
  }
  section.proof.four,.section-headline{
    text-align: center;
  }
  section.five .part-content .carousel{
    min-height: 50rem;
  }
}
/* sm 0,5*/
@media(max-width:650px){
  /* :root{
    --fs-2xl:3rem;
    --fs-xl:2.5rem;
    --fs-lg:2rem;
    --fs-md:1.5rem;
    --fs-sm:1rem;
    --fs-xs:1rem;
  } */
  header{
    min-height: auto;
  }
  .card{
    width: 85%;
  }
  .card .face{
    height: 28rem;
  }
  .card .face1{
    height: 20rem;
  }
  .sub-statistic{
    display: none;
  }
  .statistic-group-mobile{
    display: flex;
    flex-direction: column;
    gap: var(--fs-md);
  }
  .sub-statistic-mobile{
    display:flex;
    flex-direction: column;
    align-items: center;
    gap: var(--fs-sm);
  }
  section.five .part-content .carousel{
    min-height: 60rem;
  }
  section.five .part-content .carousel .slide span{
    width:80%;
  }
 

}
/* sm */
/* xs */
@media(max-width:445px){
  section{
    padding: 2rem;
  }
  .card{
    width:100% ;
  }
  .card .face{
    height:30rem ;
  }
  .card .face1{
    height: 15rem;
  }
  .call-to-action-smaller {
    font-size: 1.2rem;
    width:85%;
  }
  .statistic-group-mobile{
    display: none;
  }
  .sub-statistic{
    display: flex;
  }
  .statistic{
    flex-direction: column;
    gap: var(--fs-lg);
  }
  section.five .part-content .carousel{
    min-height:68rem;
  }
  section.five .part-content .carousel .slide span{
    width: 100%;
  }
  .button{
    transform: translateY(725%);
  }
  .button.next{
    right: 6rem;
  }
  .button.preview{
    left: 6rem ;
  }


}
@media(max-width:330px){
  section{
    padding: 1rem;
  }
  
  .card .face{
    height: 34rem;
  }
  .card .face1{
    height: 15rem;
  }

}
  


