
@media (max-width:2560px) {
  :root {
    --fs-400:6.5rem;
    --fs-300:5.5rem;
    --fs-250:4rem;
    --fs-200:3.5rem;
    }
    i.fa-solid.fa-bars {
      display: none;
    }
    
    .call-to-action{
      font-size: var(--fs-200);
    }
    .two-content {
      gap: var(--fs-200)
    }
    .text-information {
      display: flex;
      flex-direction: column;
      gap:0.5rem;
    }
    .text-information h3{
      text-align: center;
    }

    .personalize-image{
      width:72.9%;
    }
    .cards-container{
      gap: var(--fs-400);
    }
    .fa-2xl {
      font-size: 15rem;
      top: 15rem;
    }
    .card .face {
      height: 60rem;
      width:90rem;
    }
    .card .face1 {
      background-color: #ff1867;
      transform: translateY(0);
      box-shadow: none;
      height:35rem;
  
    }
    .card .face1 .card-inside-content h3 {
      opacity: 1;
      color: black;
      right:25rem;
      top:20rem;
      font-size: 5rem;
    }
    .card .face2 {
      transform: translateY(0);
    }
    .card .face2 .card-inside-content p {
      position: relative;
      font-size:5rem;
      top: 60px;
  
    }
    .call-to-action-smaller {
      font-size: 4.5rem;
    }
  
  }
@media (max-width:2050px) {
  :root {
    --fs-400:5rem;
    --fs-300:4rem;
    --fs-250:3.5rem;
    --fs-200:3rem;
    }
    .fa-2xl {
      font-size: 10rem;
    }
    .card .face {
      height: 40rem;
      width:70rem;
    }
    .card .face1{
      height: 30rem;
    }
    .card .face1 .card-inside-content h3 {
      font-size: 3.5rem;
      top: 18rem;
      right:22rem;
    }
    .card .face2 .card-inside-content p {
      position: relative;
      font-size:3.5rem;
      top: 60px;
  
    }
    .call-to-action-smaller {
      font-size: 3rem;
    }
  
} 

/* xl */
@media (max-width:1600px) {
  :root {
    --fs-400:4rem;
    --fs-300:3rem;
    --fs-250:2.5rem;
    --fs-200:2rem;
    }
    .two-content{
      gap: var(--fs-250);
    }
    .personalize-image{
      width: 73%;
    }
    .cards-container {
      width: 100%;
      gap: 2rem;
    }
    .fa-2xl{
      position: static;
      font-size: 8rem;
      padding: 4rem;
    }
    .card .face {
      height:30rem;
      width:32rem;
    }

    .card .face1 {
      background-color:#27282c;
      transform: translateY(50%);
      box-shadow: 0px 10px 10px #27282c;
      height: none;
  
    }
    .card .face1 .card-inside-content h3 {
      position: static;
      opacity: 0.02;
      color: white;
      font-size: 4rem;
    }
    .card .face2 {
      transform: translateY(-50%);
    }
    .card .face2 .card-inside-content p {
      font-size: 2.3rem;
      top: 6px;
  
    }
    .call-to-action-smaller {
      font-size:1.75rem;
    }
}

/* lg */
@media (max-width:1410px) {
  :root {
    --fs-400: 3.5rem;
    --fs-300: 2.5rem;
    --fs-250: 2rem;
    --fs-200: 1.5rem;
    }
    .personalize-image {
      width: 72.9%;
    }
    .card .face {
      height: 23rem;
      width: 23rem;
    }
    .card .face1 .card-inside-content h3 {
      font-size: 2.5rem;
      top: 10px;
    }
    .card .face2 .card-inside-content p{
      top: 10px;
      font-size: 1.79rem;
    }
    .call-to-action-smaller{
      font-size: 1.1rem;
    }
  
}
@media (max-width:1100px){
  :root {
    --fs-400: 3rem;
    --fs-300: 2rem;
    --fs-250: 1.5rem;
    --fs-200: 1rem;
    }
    .cards-container{
      gap: var(--fs-400);
    }
    .fa-2xl {
      font-size: 5rem;
    }
    .card .face {
      height: 40rem;
      width:40rem;
    }
    .card .face1 .card-inside-content h3 {
      font-size: 2rem;
    }
    .card .face2 .card-inside-content p {
      font-size:5rem;
  
    }
    .call-to-action-smaller {
      font-size: 1rem;
    }

@media (max-width:800px){
  :root {
    --fs-400: 3rem;
    --fs-300: 2rem;
    --fs-250: 1.5rem;
    --fs-200: 1rem;
    }
    .personalize-image{
      width: 100%;
    }
    .text-information {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
      width: 100%;
    }
    .text-information h3{
      text-align: center;

    }
    
}
@media(max-width:700px){
  .logo{
    width:12rem ;
  }
  nav{
    display: none;
  }
  i.fa-solid.fa-bars {
    display: inline;
    font-size:2rem;
  }

}
/* md */
@media (width<=425px) {
}

/* sm */
@media (width<=375px) {
  
}
/* xs */
@media(width<=320px){
  
  }
  


