*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: white;
  
  font-family: Montserrat, sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  outline: auto;
  min-height: 100vh; 
  background-color: rgb(31,4,4);
}

.part-one {
 
  
  background-size:cover ;

 

}
.header {
  display: flex;
  justify-content: space-between;
  font-size: 16px;
  padding: 15px;
  height: 500px;
  background-color:gray;
  background-image:url("Images/AdobeStock_776907471_Preview-transformed.jpeg");
  background-size: cover;
  background-blend-mode:multiply;
  

}
.logo-container {
  background-blend-mode: multiply;
  height: 0px;
}

.logo{
  padding: 0px;
  width: auto;
  height: 200px;

  
}
.links{
  display: flex;
  flex-direction: column;
  height: 0px;
  
}
nav{
  display: flex;
  height: 0PX;

}
ul{
  display: flex;
  gap:1em;
  height: 0PX;

}

li{
  list-style: none;
  color:white;
  height: 0px;

}
.button {
  width: 30px;
}
.search-icon {
  width: 20px;
}
