
.our-benefits-features-carousel__content  button.preview {
  left: 0;
}
.our-benefits-features-carousel__content  button.next {
  right: 0;
}
.carousel{
  width:100%;
}
.mobile.medium.carousel,.mobile.small.carousel{
  display: none;
}
.slide{
  gap: var(--fs-sm);
}
.slide > span.carousel-slide-content {
  display:flex;
  flex-direction: row;
}
.carousel-slide-content img {
  width: 50%;
  height: 100px;
}
.card-icon{
  top:90%;
}
.our-benefits-features-carousel__content ul{
  padding:var(--fs-xl);
}
.our-benefits-features-carousel__content .carousel .slide .carousel-slide-content {
  display: flex;
  gap:var(--fs-xs);
}