.carousel{
  width:100%;
}
.slide > span.carousel-slide-content {
  display:flex;
  flex-direction: row;
}
.carousel-slide-content img {
  width: 50%;
  height: 100px;
}
.card-icon{
  top:90%;
}
.our-benefits-features-carousel__content ul{
  padding:var(--fs-xs) var(--fs-xl)
}
.slides-mobile{
  display: none;
}