
.features-carousel {
  flex-direction:column;
}
.section-headline {
  background-color: var(--bg-main);
}
.our-benefits-features-carousel__content  button {
  top: 40%;
}
.our-benefits-features-carousel__content  button.preview {
  left: 0;
}
.our-benefits-features-carousel__content  button.next {
  right: 0;
}
.carousel{
  width:100%;
}
.mobile.medium.carousel,.mobile.small.carousel{
  display: none;
}
.slide{
  display: grid;
  grid-gap: var(--fs-xs);
  grid-auto-flow: column;
}
.slide > .carousel-slide-content{
  opacity: 0.5;
}
.carousel-slide-content:hover{
  opacity: 1;
  transition: 2s;
}
.carousel-slide-content img {
  width: 50%;
  height: 100px;
}
.card-icon{
  top:90%;
}
.our-benefits-features-carousel__content ul{
  padding:var(--fs-xl);
}
.our-benefits-features-carousel__content .carousel .slide .carousel-slide-content {
  display: flex;
  gap:var(--fs-xs);
  width: 94%;
}

.blog-post article{
  flex-direction: column;
}

main section{
  padding:var(--fs-sm)15rem;
}